In [13]:
# -*- coding: utf-8 -*-

#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#%% Importing Data
flights_data = pd.read_csv(r'C:\Users\logan\Documents\Intro to Programming\M09\flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
fd = flights_data
fd

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN
336772,336773,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3525,LGA,SYR,NaN,198,NaN,NaN
336773,336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,N535MQ,3461,LGA,BNA,NaN,764,NaN,NaN
336774,336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,N511MQ,3572,LGA,CLE,NaN,419,NaN,NaN
336775,336776,2013,9,30,NaN,NaN,NaN,NaN,MQ,N839MQ,3531,LGA,RDU,NaN,431,NaN,NaN

In [10]:
#Question 1 How many flights were there from JFK to SLC? Int
jfk_slc = fd.loc[(fd['origin'] == "JFK") & (fd['dest'] == "SLC")]
q_1 = len(jfk_slc)
q_1

2113

In [22]:
#Question 2 How many airlines fly to SLC? Should be int
slc = fd.loc[fd['dest'] == "SLC"]
airline = slc.carrier.unique()
q_2 = len(airline)
q_2

2

In [23]:
#Question 3 What is the average arrival delay for flights to RDU? float
rdu = fd.loc[fd['dest'] == "RDU"]
q_3 = rdu['arr_delay']
q_3.mean()

10.052380952380952

In [24]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
sea = fd.loc[fd['dest'] == "SEA"]
lga = sea.loc[fd['origin'] == "LGA"]
jfk = sea.loc[fd['origin'] == "JFK"]
sea_sum = len(sea)
lga_sum = len(lga)
jfk_sum = len(jfk)
q_4 = (lga_sum + jfk_sum)/sea_sum
q_4

0.5332653581442773

In [25]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
fd['date'] = fd.year.astype(str) + "/" + fd.month.astype(str) + "/" + fd.day.astype(str)
delay = fd[['date', 'dep_delay']]
average = delay.groupby(delay.date).mean()
max_index = average['dep_delay'].idxmax()
q_5 = average.loc[max_index]
q_5

dep_delay    83.536921
Name: 2013/3/8, dtype: float64

In [26]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
arr_delay = fd[['date', 'arr_delay']]
arr_average = arr_delay.groupby(arr_delay.date).mean()
arr_max_index = arr_average['arr_delay'].idxmax()
q_6 = arr_average.loc[arr_max_index]
q_6

arr_delay    85.862155
Name: 2013/3/8, dtype: float64

In [28]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
fd['speed'] = fd.distance/fd.arr_time
lga_jfk = fd.loc[(fd['origin'] == "LGA") | (fd['origin'] == "JFK")]
fastest = lga_jfk[['tailnum','speed']]
fastest_index = fastest['speed'].idxmax()
q_7 = fastest.loc[fastest_index]
q_7

tailnum    N834JB
speed      2586.0
Name: 77963, dtype: object

In [31]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
wdpd = weather_data_pd
q_8 = wdpd.fillna(0)
q_8

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [39]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
wdnp = weather_data_np
feb = wdnp[:, 3] == 2
feb_obs = wdnp[feb]
q_9 = len(feb_obs)
q_9

671

In [40]:
#Question 10 What was the mean for humidity in February? Float
humid = feb_obs[:, 8]
q_10 = np.mean(humid)
q_10

62.918152011922515

In [41]:
#Question 11 What was the std for humidity in February? Float
q_11 = np.std(humid)
q_11

20.33690087674334