In [6]:
import pandas as pd
df = pd.read_csv("breast-cancer.data", header=None)
df.columns = ['Class', 'age', 'menopause', 'tumor-size', 'inv-nodes', 'node-caps', 'deg-malig', 'breast', 'breast-quad', 'irradiat']
df

,Class,age,menopause,tumor-size,inv_nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [18]:
#Melt
melt_columns = ['age', 'menopause', 'tumor-size']
df_melted = df.melt(id_vars=melt_columns, var_name='variable', value_name='value')
df_melted

        age menopause tumor-size  variable                 value
0     30-39   premeno      30-34     Class  no-recurrence-events
1     40-49   premeno      20-24     Class  no-recurrence-events
2     40-49   premeno      20-24     Class  no-recurrence-events
3     60-69      ge40      15-19     Class  no-recurrence-events
4     40-49   premeno        0-4     Class  no-recurrence-events
...     ...       ...        ...       ...                   ...
1997  30-39   premeno      30-34  irradiat                    no
1998  30-39   premeno      20-24  irradiat                   yes
1999  60-69      ge40      20-24  irradiat                    no
2000  40-49      ge40      30-34  irradiat                    no
2001  50-59      ge40      30-34  irradiat                    no

[2002 rows x 5 columns]

In [40]:
#Pivot
df1 = df.drop_duplicates(subset=['age'])
df_pivot = df1.pivot(index='age', columns='breast-quad', values='irradiat')
df_pivot

breast-quad left_low left_up right_up
age
20-29            NaN     NaN       no
30-39             no     NaN      NaN
40-49            NaN     NaN       no
50-59             no     NaN      NaN
60-69            NaN      no      NaN
70-79            NaN      no      NaN

In [53]:
#Aggregate
df.agg({ 'age' : "count", 'deg-malig' : "max", 'tumor-size' : "min"})

age           286
deg-malig       3
tumor-size    0-4
dtype: object

In [58]:
#Iteration
for index, row in df.iterrows():
    print(index, row['age'])

0 30-39
1 40-49
2 40-49
3 60-69
4 40-49
5 60-69
6 50-59
7 60-69
8 40-49
9 40-49
10 40-49
11 50-59
12 60-69
13 50-59
14 40-49
15 60-69
16 40-49
17 50-59
18 60-69
19 50-59
20 50-59
21 60-69
22 30-39
23 50-59
24 50-59
25 40-49
26 50-59
27 60-69
28 40-49
29 60-69
30 50-59
31 50-59
32 50-59
33 50-59
34 50-59
35 30-39
36 50-59
37 50-59
38 40-49
39 40-49
40 50-59
41 60-69
42 60-69
43 40-49
44 50-59
45 50-59
46 40-49
47 50-59
48 40-49
49 40-49
50 50-59
51 30-39
52 50-59
53 70-79
54 70-79
55 70-79
56 50-59
57 50-59
58 60-69
59 60-69
60 40-49
61 40-49
62 50-59
63 20-29
64 40-49
65 40-49
66 40-49
67 50-59
68 50-59
69 60-69
70 60-69
71 40-49
72 60-69
73 50-59
74 30-39
75 50-59
76 50-59
77 30-39
78 50-59
79 40-49
80 50-59
81 60-69
82 60-69
83 50-59
84 40-49
85 50-59
86 60-69
87 70-79
88 50-59
89 40-49
90 30-39
91 50-59
92 50-59
93 60-69
94 50-59
95 40-49
96 60-69
97 60-69
98 40-49
99 30-39
100 40-49
101 50-59
102 50-59
103 40-49
104 40-49
105 40-49
106 40-49
107 30-39
108 40-49
109 60-69
110 50-59
111 50-59
112 40-49
113 40-49
114 40-49
115 50-59
116 30-39
117 40-49
118 30-39
119 60-69
120 60-69
121 50-59
122 50-59
123 50-59
124 60-69
125 70-79
126 30-39
127 30-39
128 50-59
129 40-49
130 40-49
131 40-49
132 40-49
133 50-59
134 60-69
135 30-39
136 30-39
137 40-49
138 30-39
139 40-49
140 50-59
141 50-59
142 60-69
143 40-49
144 60-69
145 40-49
146 60-69
147 50-59
148 30-39
149 50-59
150 50-59
151 60-69
152 50-59
153 60-69
154 30-39
155 60-69
156 50-59
157 50-59
158 50-59
159 40-49
160 40-49
161 40-49
162 60-69
163 60-69
164 60-69
165 40-49
166 40-49
167 40-49
168 50-59
169 40-49
170 30-39
171 30-39
172 60-69
173 50-59
174 50-59
175 40-49
176 40-49
177 60-69
178 50-59
179 40-49
180 40-49
181 40-49
182 40-49
183 50-59
184 50-59
185 40-49
186 50-59
187 60-69
188 40-49
189 50-59
190 40-49
191 40-49
192 50-59
193 30-39
194 50-59
195 50-59
196 50-59
197 40-49
198 50-59
199 50-59
200 60-69
201 50-59
202 40-49
203 50-59
204 50-59
205 30-39
206 50-59
207 50-59
208 50-59
209 40-49
210 40-49
211 50-59
212 40-49
213 50-59
214 60-69
215 40-49
216 50-59
217 40-49
218 60-69
219 30-39
220 40-49
221 30-39
222 60-69
223 60-69
224 30-39
225 40-49
226 40-49
227 50-59
228 60-69
229 60-69
230 50-59
231 40-49
232 30-39
233 70-79
234 60-69
235 50-59
236 40-49
237 40-49
238 30-39
239 40-49
240 60-69
241 40-49
242 50-59
243 50-59
244 40-49
245 30-39
246 30-39
247 50-59
248 60-69
249 30-39
250 40-49
251 40-49
252 30-39
253 60-69
254 40-49
255 40-49
256 40-49
257 40-49
258 50-59
259 50-59
260 60-69
261 40-49
262 60-69
263 50-59
264 50-59
265 30-39
266 40-49
267 60-69
268 30-39
269 40-49
270 50-59
271 50-59
272 40-49
273 60-69
274 60-69
275 40-49
276 30-39
277 60-69
278 50-59
279 50-59
280 50-59
281 30-39
282 30-39
283 60-69
284 40-49
285 50-59

In [55]:
#Groupby
grouped = df.groupby('Class')
max = grouped['tumor-size'].max()
max

Class
no-recurrence-events    50-54
recurrence-events       50-54
Name: tumor-size, dtype: object